
    {%extends 'base.html'%}
    {%block title%}Create a new post{%endblock%}
    {%block content%}
        

        <div class="container-fluid py-3">
            <div class="container">
                <div class="row ">
                    <div class=" align-items-center custom-view  bg-light py-2 px-5 mb-4 col-md-12">
                    <h3 class="my-5">Add Post</h3>
                    <div class="form-group"> 
                        {% if user.is_authenticated%}
                        <form method="POST" enctype="multipart/form-data">
                            {%csrf_token%}
                            {{form.media}}
                            {{form.as_p}}
                            <button class="btn btn-secondary">POST</button>
                        </form>
                        </div>
                        <script>
                            var name="{{user.id}}";
                            document.getElementById('author_name').value=name;
                        </script>
                        {%else%}
                        You are not allowed to add a post!!!
                        {%endif%}

                </div>
            </div>         
            </div>
            
            
    {%endblock%}
