
    {%extends 'base.html'%}
    {%block content%}

    <div class="container-fluid py-3">
        <div class="container">
            
        {% if user.is_authenticated%}
        <div class="row ">
            <div class=" align-items-center custom-view  bg-light py-2 px-5 mb-4 col-md-12">
            
            {% if user.id == post.author.id %}
            <h3 class="my-5">Edit Post</h3>
                <div class="form-group">
                <form method="POST">
                    {%csrf_token%}
                    {{form.media}}
                    {{form.as_p}}
                    <button class="btn btn-secondary">Edit</button>
                </form>
                </div>
            {%else%}
            You are not allowed to edit this!!
            {%endif%}
            </div>
        </div>
        </div>
    </div>
        {%else%}
        Login required to edit post.
        {%endif%}
    {%endblock%}
